li{
  display: inline-block;
  padding: 10px;
}
nav{
  background-color: #f9f93e;
}
a{
  text-decoration-line:none ;
}
body{
  background-color:#f2f2fe;
}
#radioactive{
  text-align: center;
  background-color: #828282;
  color: #fffc54;
}
#web{
  text-align: center;
  
}
#login{
  text-align: center;
}
#click{
  text-align: center;
}